/*Tablets en horizontal y escritorios normales*/
@media (min-width: 768px) and (max-width:1920px){
/*variables tamaño imagen logo*/
@size_logo_width:100%;
@altura_automatica:auto;

#logo{


max-width:@size_logo_width;
height: @altura_automatica;

}

/*espacio con logo a la izq*/
.padding{
	
padding-left:12px;
padding-top:5px;
}

/*margenes imagen slider*/
.margin_img{
	margin:auto;
}

/*responsive imagenes slider*/
@ancho_imagen:100%;

.size_slider{
	max-width:@ancho_imagen;
	height: @altura_automatica;
}


/*tamaño h1*/
@size_text_h1:40px;

.size_text_h1{
	font-size:@size_text_h1;
}

/*tamaño h3*/
@size_text_h3:20px;

.size_text_h3{
	font-size:@size_text_h3;
}

/*posicion elemento contacto cabecera*/
/*.pos-right{
	position:relative;
	left:700px;
}*/

/*pos relative*/
@pos-relative:relative;
/*justificar texto*/
@text-justify:justify;

/*posicion mapa*/
.pos-map{
	position:@pos-relative;
	left:300px;
	bottom:70px;
}
/*posicion parrafos contacto*/
.pos-parrafosContacto{
	position:@pos-relative;
	top:120px;
	left:50px;
	text-align:@text-justify;
}

/*posición botón submit*/
#pos-submit{
	position:@pos-relative;
	top:80px;
	right:110px;
}

/*posicion textarea*/
.pos-textArea{
	resize:none;
}

/*posicion formulario*/
.pos-formu{
position:@pos-relative;
bottom:65px;
left:30px;

	
}
/*clases para el FOOTER*/
footer span.copyright{
			line-height:40px;
			font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
			text-transform:uppercase;
			text-transform:none;
		}


ul.social-buttons {
    margin-bottom: 0;
  }
  ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all 0.3s;
  }
  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    background-color: #C745FF;
   

  }

ul.list-inline{margin-bottom:30px;margin-top:0;}

footer ul.quicklinks{
			margin-bottom:0;
			line-height:40px;
			font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;
			text-transform:none;}


			footer {
    text-align: center;
}

/*Google fonts*/
.fontGoogle .colorTituloMorado{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #C745FF;
 }

/*Google fonts*/
.fontGoogle .colorTituloNegro{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #575657;
 }


/*Google fonts*/
.fontGoogle { 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;

 }


.colorTituloMorado{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #C745FF;
 }

.colorTituloNegro{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #575657;
 }


/*video*/
.video{
	width:560px;
	height:315;
}
/*texto del video y posicion*/
.texto-video{
	position:@pos-relative;
	left:600px;
	bottom:350px;
	font-size:30px;
}

.centrarTitulo{
	text-align:center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	color: #fff;
	background-color: #C745FF;
}

.navbar a{
	color: #fff;
}

.navbar i{
	padding-right:5px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
    color:#C745FF;
}

}



/*Moviles en horizontal o tablets en vertical*/
@media (min-width: 479px) and (max-width: 767px){
/*variables tamaño imagen logo*/
@size_logo_width:100%;
@altura_automatica:auto;

#logo{

max-width:@size_logo_width;
height: @altura_automatica;

}

/*espacio con logo a la izq*/
.padding{
	
padding-left:12px;
padding-top:5px;
}

/*margenes imagen slider*/
.margin_img{
	margin:auto;
}

/*responsive imagenes slider*/
@ancho_imagen:100%;

.size_slider{
	max-width:@ancho_imagen;
	height: @altura_automatica;
}


/*tamaño h1 */
@size_text_h1:35px;

.size_text_h1{
	font-size:@size_text_h1;
}

/*tamaño h3*/
@size_text_h3:15px;

.size_text_h3{
	font-size:@size_text_h3;
}


/*pos relative*/
@pos-relative:relative;
/*justificar texto*/
@text-justify:justify;


/*posición botón submit*/
#pos-submit{
	position:@pos-relative;
	top:5px;
	left:5px;
}

/*posicion textarea*/
.pos-textArea{
	resize:none;
}

/*clases para el FOOTER*/
footer span.copyright{
			line-height:40px;
			font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
			text-transform:uppercase;
			text-transform:none;
		}


ul.social-buttons {
    margin-bottom: 0;
  }
  ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all 0.3s;
  }
  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    background-color: #C745FF;
  }

ul.list-inline{margin-bottom:30px;margin-top:0;}


footer ul.quicklinks{
			margin-bottom:0;
			line-height:40px;
			font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;
			text-transform:none;}

footer {
    text-align: center;
}

/*Google fonts*/
.fontGoogle .colorTituloMorado{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #C745FF;
 }

/*Google fonts*/
.fontGoogle .colorTituloNegro{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #575657;
 }


/*Google fonts*/
.fontGoogle { 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;

 }


.colorTituloMorado{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #C745FF;
 }

.colorTituloNegro{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #575657;
 }


/*video*/
.video{
	width:400px;
	height:215px;
}

/*texto del video y posicion*/
.texto-video{
	position:@pos-relative;
	left:420px;
	bottom:250px;
	font-size:20px;
}
/*centrar titulo contacto*/
.centrarTitulo{
	text-align:center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	color: #fff;
	background-color: #C745FF;
}

.navbar a{
	color: #fff;
}

.navbar i{
	padding-right:5px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
    color:#C745FF;
}

}

/*Moviles en vertical*/
@media (max-width: 480px){
/*variables tamaño imagen logo*/
@size_logo_width:100%;
@altura_automatica:auto;

#logo{


max-width:@size_logo_width;
height: @altura_automatica;

}

/*espacio con logo a la izq*/
.padding{
	
padding-left:12px;
padding-top:5px;
}

//*margenes imagen slider*/
.margin_img{
	margin:auto;
}

/*responsive imagenes slider*/
@ancho_imagen:100%;

.size_slider{
	max-width:@ancho_imagen;
	height: @altura_automatica;
}


/*tamaño h1*/
@size_text_h1:30px;

.size_text_h1{
	font-size:@size_text_h1;
}

/*tamaño h3*/
@size_text_h3:10px;

.size_text_h3{
	font-size:@size_text_h3;
}

/*Color barra navegacion*/
/*.navbar-color{
	background-color:#000000;
}*/

/*pos relative*/
@pos-relative:relative;
/*justificar texto*/
@text-justify:justify;

/*posicion mapa*/
.pos-map{
	position:@pos-relative;
	
	width:250px;
}

/*posición botón submit*/
#pos-submit{
	position:@pos-relative;
	top:5px;
	left:5px;
}

/*posicion textarea*/
.pos-textArea{
	resize:none;

}

/*clases para el FOOTER*/
footer span.copyright{
			line-height:40px;
			font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
			text-transform:uppercase;
			text-transform:none;
		}

ul.social-buttons{
margin-bottom:0
}
ul.social-buttons li a{
display:block;
background-color:#222;
height:40px;
width:40px;
border-radius:100%;
font-size:20px;
line-height:40px;
color:#fff;
outline:0;
-webkit-transition:all .3s;
-moz-transition:all .3s;
transition:all .3s;
			}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active
{background-color:#C745FF;}


ul.list-inline{margin-bottom:30px;margin-top:0;}

footer ul.quicklinks{
			margin-bottom:0;
			line-height:40px;
			font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;
			text-transform:none;}
footer {
    text-align: center;
}

/*Google fonts*/
.fontGoogle .colorTituloMorado{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #C745FF;
 }

/*Google fonts*/
.fontGoogle .colorTituloNegro{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #575657;
 }


/*Google fonts*/
.fontGoogle { 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;

 }


.colorTituloMorado{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #C745FF;
 }

.colorTituloNegro{ 
font-family: 'Raleway', sans-serif;
/*font-family: 'Titillium Web', sans-serif;*/
font-weight: 400;
 color: #575657;
 }

/*video*/
.video{
	width:200px;
	height:108px;
}

/*texto del video y posicion*/
.texto-video{
	position:@pos-relative;
	font-size:20px;
}
/*centrar titulo */
.centrarTitulo{
	text-align:center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	color: #fff;
	background-color: #C745FF;
}

.navbar a{
	color: #fff;
}

.navbar i{
	padding-right:5px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
    color:#C745FF;
}

}