/*Tablets en horizontal y escritorios normales*/
@media (min-width: 768px) and (max-width: 1920px) {
  /*variables tamaño imagen logo*/
  #logo {
    max-width: 100%;
    height: auto;
  }
  /*espacio con logo a la izq*/
  .padding {
    padding-left: 12px;
    padding-top: 5px;
  }
  /*margenes imagen slider*/
  .margin_img {
    margin: auto;
  }
  /*responsive imagenes slider*/
  .size_slider {
    max-width: 100%;
    height: auto;
  }
  .color_titulos {
    color: #FBBC21;
    text-shadow: 1px 1px 0 black, -1px -1px black, 1px -1px black, -1px 1px black, 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black;
  }
  /*tamaño h1*/
  .size_text_h1 {
    font-size: 40px;
  }
  /*tamaño h3*/
  .size_text_h3 {
    font-size: 20px;
  }
}
/*Moviles en horizontal o tablets en vertical*/
@media (max-width: 767px) {
  #logo {
    max-width: 100%;
    height: auto;
  }
  /*espacio con logo a la izq*/
  .padding {
    padding-left: 12px;
    padding-top: 5px;
  }
  /*margenes imagen slider*/
  .margin_img {
    margin: auto;
  }
  /*responsive imagenes slider*/
  .size_slider {
    max-width: 100%;
    height: auto;
  }
  .color_titulos {
    color: #FBBC21;
    text-shadow: 1px 1px 0 black, -1px -1px black, 1px -1px black, -1px 1px black, 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black;
  }
  /*tamaño h1 */
  .size_text_h1 {
    font-size: 35px;
  }
  /*tamaño h3*/
  .size_text_h3 {
    font-size: 15px;
  }
}
/*Moviles en vertical*/
@media (max-width: 480px) {
  #logo {
    max-width: 100%;
    height: auto;
  }
  /*espacio con logo a la izq*/
  .padding {
    padding-left: 12px;
    padding-top: 5px;
  }
  .margin_img {
    margin: auto;
  }
  /*responsive imagenes slider*/
  .size_slider {
    max-width: 100%;
    height: auto;
  }
  .color_titulos {
    color: #FBBC21;
    text-shadow: 1px 1px 0 black, -1px -1px black, 1px -1px black, -1px 1px black, 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black;
  }
  /*tamaño h1*/
  .size_text_h1 {
    font-size: 30px;
  }
  /*tamaño h3*/
  .size_text_h3 {
    font-size: 10px;
  }
  /*iconos*/
  /*color icono facebook*/
  .fa-facebook {
    color: #ffffff;
  }
}
